@import "tailwindcss";

html {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.text {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0.04rem;
}
.text_small {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.04rem;
}
.rounded_small {
    border-radius: 5px;
}
.rounded_top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.price {
    font-weight: 300;
    font-size: 150px;
    line-height: 134px;
}
h1 {
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.04rem;
    font-size: 60px;
    font-weight: 300;
    line-height: 54px;
}
