@import "tailwindcss";
@font-face {
    font-family: "CoFo Sans";
    src: url("/font/CoFoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family:
        CoFo Sans,
        sans-serif;
}

.hb-menu input {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgba(41, 37, 36, 1);
    border-radius: 99999px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.hb-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
}

@keyframes press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pressOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.hb-menu input:checked {
    transform: scale(1);
    background-color: rgba(229, 226, 141, 1);
    animation: press 0.2s ease;
}

.hb-menu input:not(:checked) {
    animation: pressOut 0.25s ease;
}
/* .hb-menu:active input {
    transform: scale(0.85);
} */

.hb-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.slidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
    background: rgba(243, 243, 238, 1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;

    clip-path: circle(0% at top right);
    transition: clip-path 0.5s cubic-bezier(0.91, 0.3, 0.51, 0.24);
    /* transition: clip-path 0.5s cubic-bezier(0.98, 0.14, 0.49, 0.17); */
    overflow: hidden;
}

.hb-menu:has(input:checked) + .slidebar {
    clip-path: circle(150% at top right);
}

.hb-menu:has(input:checked) + .slidebar::before {
    transform: scale(1);
}

html {
    background-color: rgba(243, 243, 238, 1);
    margin: 0;
    color: white;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    flex-direction: column;
}

html.visible {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.yellow {
    background-color: rgba(229, 226, 141, 1);
}
.gray {
    background-color: rgba(243, 243, 238, 1);
}
.gray-opacity {
    background-color: rgba(241, 242, 234, 0.85);
}
.black {
    background-color: rgba(41, 37, 36, 1);
}

.pink {
    background-color: rgba(245, 195, 196, 1);
}

.bg-devider {
    background-color: rgba(230, 230, 230, 1);
}

.text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(41, 37, 36);
}

.text_md {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(41, 37, 36);
}

.text-button {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    /* color: white; */
}

.text_small {
    color: rgb(41, 37, 36);
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

.rounded_small {
    border-radius: 10px;
}

.rounded_top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.price {
    color: rgb(41, 37, 36);
    font-weight: 400;
    font-size: 150px;
    line-height: 134px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 62px;
    color: rgb(41, 37, 36);
}

.rev {
    transform: translateY(100%);
    will-change: transform;
    perspective: 1000px;
}

.text-anim {
    transform: translateY(100%);
    will-change: transform;
    /* padding-top: 0.02em; */
    perspective: 1000px;
}

.text_gray {
    /* color: rgba(125, 123, 108, 1); */
    color: rgba(110, 110, 115, 1);
}

@media (max-width: 600px) {
    .text-anim {
        padding-top: 0.02em;
        padding-bottom: 0.02em;

        display: block;
        will-change: transform;
        overflow: hidden;
    }

    h1 {
        font-size: 28px;
        font-weight: 400;
        line-height: 30px;
    }

    .title_mobile {
        font-size: 34px;
        font-weight: 400;
        line-height: 40px;
    }

    .text {
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
    }

    .text_md {
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
    }

    .text_small {
        color: rgb(41, 37, 36);
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

    .text-button {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        /* color: white; */
    }

    .price {
        color: rgb(41, 37, 36);
        font-weight: 400;
        font-size: 100px;
        line-height: 90px;
    }
}

.line {
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 1s ease;
}

.line.visible {
    transform: scaleX(1);
}

.line-vertical {
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 1s ease;
}

.line-vertical.visible {
    transform: scaleY(1);
}

/* .fade-in.visible {
    opacity: 1;
    transform: translateY(0px);
} */

/* */
