---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import First from "../components/First.astro";
import Second from "../components/Second.astro";
import Third from "../components/Third.astro";
import Fourth from "../components/Fourth.astro";
import Price from "../components/Price.astro";
import Fivth from "../components/Fivth.astro";
import Sixth from "../components/Sixth.astro";
import Seventh from "../components/Seventh.astro";
import Eight from "../components/Eight.astro";
import Nine from "../components/Nine.astro";
import Ten from "../components/Ten.astro";
import Eleven from "../components/Eleven.astro";
import Twelve from "../components/Twelve.astro";
import Groups from "../components/Groups.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header />
    <div class="flex flex-col">
        <First />
        <Second />
        <Third />
        <Fourth />
        <Price />
        <Fivth />
        <Sixth />
        <Seventh />
        <Eight />
        <Nine />
        <Ten />
        <Eleven />
        <Twelve />
        <Groups />
        <Footer />
    </div>
</Layout>

<script is:inline>
    if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
    }

    document.addEventListener("DOMContentLoaded", () => {
        const elements = document.querySelectorAll(".fade-in");

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: 0.1,
            },
        );

        elements.forEach((el) => observer.observe(el));
    });
</script>
