---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import First from "../components/First.astro";
import Second from "../components/Second.astro";
import Third from "../components/Third.astro";
import Fourth from "../components/Fourth.astro";
import Price from "../components/Price.astro";
import Fivth from "../components/Fivth.astro";
import Sixth from "../components/Sixth.astro";
import Seventh from "../components/Seventh.astro";
import Eight from "../components/Eight.astro";
import Nine from "../components/Nine.astro";
import Ten from "../components/Ten.astro";
import Eleven from "../components/Eleven.astro";
import Twelve from "../components/Twelve.astro";
import Groups from "../components/Groups.astro";
import Footer from "../components/Footer.astro";

import ThirdTwo from "../components/ThirdTwo.astro";
import SixthTwo from "../components/SixthTwo.astro";
import NineTwo from "../components/NineTwo.astro";

import HeaderMobile from "../components/mobile/HeaderMobile.astro";
---

<Layout>
    <Header />
    <HeaderMobile />
    <div class="flex flex-col">
        <First />
        <Second />
        <Third />
        <ThirdTwo />
        <Fourth />
        <Price />
        <Fivth />
        <Sixth />
        <SixthTwo />
        <Seventh />
        <Eight />
        <Nine />
        <NineTwo />
        <Ten />
        <Eleven />
        <Twelve />
        <Groups />
        <Footer />
    </div>
</Layout>

<script is:inline>
    if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
    }

    document.addEventListener("DOMContentLoaded", () => {
        const elements = document.querySelectorAll(".fade-in");

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: 0.1,
            },
        );

        elements.forEach((el) => observer.observe(el));
    });
</script>

<script>
    window.addEventListener("scroll", () => {
        const cardPrices = document.querySelectorAll(
            ".slide-in",
        ) as NodeListOf<HTMLElement>;

        const windowHeight = window.innerHeight;
        const start = windowHeight * 0.95;
        const end = windowHeight * 0.7;

        cardPrices.forEach((card) => {
            const rect = card.getBoundingClientRect();
            const progress = (start - rect.top) / (start - end);
            const clamped = Math.min(Math.max(progress, 0), 1);

            card.style.opacity = (clamped + 0.5).toString();
            card.style.transform = `translateY(${(1 - clamped) * 40}px)`;
        });
    });
</script>
