<div class="max-[600px]:block max-[600px]:px-5 max-[600px]:w-full">
    <button
        class="text-center text-animate-container cstmButton p-5 bg-[rgba(41,37,36,1)] w-fit max-[600px]:w-full text-button rounded_small cursor-pointer hover:text-[rgba(41,37,36,1)] text-white transition-all duration-100 ease-in-out"
    >
        ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ
    </button>

<script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
        const btnColors = ["rgba(229,226,141,1)", "rgba(245,195,196,1)"];
        const btns = document.querySelectorAll(".cstmButton");
        const popUp = document.getElementById("pop-up");

        btns.forEach((btn) => {
            if (btn) {
                btn.addEventListener("mouseenter", () => {
                    const randomColor =
                        btnColors[Math.floor(Math.random() * btnColors.length)];
                    btn.style.backgroundColor = randomColor;
                });

                btn.addEventListener("mouseleave", () => {
                    btn.style.backgroundColor = "rgba(41,37,36,1)";
                });

                btn.addEventListener("click", () => {
                    if(popUp.style.visibility !== "visible"){
                        popUp.style.visibility = "visible";
                    }
                });
            }
        });
    });
</script>
