<div>
    <div
        class="p-5 bg-[rgba(31,31,31,1)] w-fit text-button rounded_small cursor-pointer hover:bg-gray-100 transition-all duration-200 ease-in"
    >
        ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ
    </div>
</div>
