<div
    class="text-animate-container cstmButton p-5 bg-[rgba(41,37,36,1)] w-fit text-button rounded_small cursor-pointer hover:text-[rgba(41,37,36,1)] text-white transition-all duration-100 ease-in-out"
>
    ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ
</div>

<script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
        const btnColors = ["rgba(229,226,141,1)", "rgba(245,195,196,1)"];
        const btns = document.querySelectorAll(".cstmButton");
        btns.forEach((btn) => {
            if (btn) {
                btn.addEventListener("mouseenter", () => {
                    const randomColor =
                        btnColors[Math.floor(Math.random() * btnColors.length)];
                    btn.style.backgroundColor = randomColor;
                });

                btn.addEventListener("mouseleave", () => {
                    btn.style.backgroundColor = "rgba(41,37,36,1)";
                });
            }
        });
    });
</script>
