<div
    class="flex w-full min-h-[50vh] z-25 px-5 max-[600px]:px-2.5 pb-10 gap-[2px] max-[600px]:flex-col min-[600px]:top-45 sticky pink max-[600px]:gap-2.5"
>
    <div
        class="bg-white w-1/2 rounded-[20px] flex flex-col items-center gap-2.5 card max-[600px]:w-full"
    >
        <div class="text p-5 text_small flex flex-col gap-10 w-full">
            <div class="flex justify-between">
                <div>
                    <div class="uppercase">Гештальт-терапія</div>
                    <div>Ступінь 1</div>
                </div>
                <div class="">*годин</div>
            </div>

            <div class="flex flex-col gap-5">
                <div class="price text-center">280</div>
                <div class="h-[2px] gray mt-5 line"></div>
                <div class="text">
                    Знайомство з базовими принципами підходу, перші практичні
                    навички, які вже тоді допомагали мені підтримувати людей в
                    особистісному розвитку.
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-white w-1/2 rounded-[20px] flex flex-col items-center gap-2.5 card2 max-[600px]:w-full"
    >
        <div class="text p-5 text_small flex flex-col gap-10 w-full">
            <div class="flex justify-between">
                <div>
                    <div class="uppercase">Гештальт-терапія</div>
                    <div>Ступінь 2</div>
                </div>
                <div class="">*годин</div>
            </div>

            <div class="flex flex-col gap-5">
                <div class="price text-center">720</div>
                <div class="h-[2px] gray mt-5 line"></div>
                <div class="text">
                    Поглиблення теорії та багато практики. Цей етап став
                    справжнім переходом до професійної роботи з клієнтами.
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-white w-1/2 rounded-[20px] flex flex-col items-center gap-2.5 card3 max-[600px]:w-full"
    >
        <div class="text p-5 text_small flex flex-col gap-10 w-full">
            <div class="flex justify-between">
                <div>
                    <div class="uppercase">Спеціалізація</div>
                    <div>"Клінічний підхід у гештальт-терапії"</div>
                </div>
                <div class="">годин</div>
            </div>

            <div class="flex flex-col gap-5">
                <div class="price text-center">280</div>
                <div class="h-[2px] gray mt-5 line"></div>
                <div class="text">
                    Навчання роботі з більш складними запитами, психічними
                    станами та глибинними внутрішніми процесами.
                </div>
            </div>
        </div>
    </div>

    <!-- <div
        class="absolute top-0 left-1/3 transform -translate-x-1/2 w-[2px] pink z-10"
        style="bottom: 40px;"
    >
    </div>
    <div
        class="absolute top-0 left-2/3 transform -translate-x-1/2 w-[2px] pink z-10"
        style="bottom: 40px;"
    >
    </div> -->
</div>

<script>
    window.addEventListener("scroll", () => {
        if (window.innerWidth >= 600) {
            const card = document.querySelector(".card") as HTMLHtmlElement;
            const card2 = document.querySelector(".card2") as HTMLHtmlElement;
            const card3 = document.querySelector(".card3") as HTMLHtmlElement;

            const rect = card!.getBoundingClientRect();
            const rect2 = card2!.getBoundingClientRect();
            const rect3 = card3!.getBoundingClientRect();

            const windowHeight = window.innerHeight;
            const start = windowHeight * 0.8;
            const end = windowHeight * 0.3;

            const progress = (start - rect.top) / (start - end);
            const progress2 = (start - rect2.top) / (start - end);
            const progress3 = (start - rect3.top) / (start - end);

            const clamped = Math.min(Math.max(progress, 0), 1);
            const clamped2 = Math.min(Math.max(progress2, 0), 1);
            const clamped3 = Math.min(Math.max(progress3, 0), 1);

            card!.style.transform = `translate3d(0, ${(1 - clamped) * -160}px, 0)`;
            card2!.style.transform = `translate3d(0, ${(1 - clamped2) * -100}px, 0)`;
            card3!.style.transform = `translate3d(0, ${(1 - clamped3) * -40}px, 0)`;
        }
    });
</script>
