<div class="w-full min-h-[50vh] rounded_top top-0 z-29 pink sticky">
    <div class="p-10 gird grid-cols-2 max-[600px]:px-5 max-[600px]:py-10">
        <h1 class="slide-in">
            У своїй роботі я спираюся на кілька ключових принципів:
        </h1>
    </div>
</div>
