<div class="w-full min-h-[50vh] top-0 z-29 sticky gray">
    <div
        class="pink min-h-[50vh] p-10 gird grid-cols-2 max-[600px]:px-5 max-[600px]:py-10 rounded_top"
    >
        <h1 class="slide-in">
            У своїй роботі я спираюся на кілька ключових принципів:
        </h1>
    </div>
</div>
