---
// import { Image } from "astro:assets";
// import ProfileImg from "../assets/IMG_2406.png";
import Button from "./Button.astro";
---

<div
    id="main"
    class="h-[50vh] w-full flex flex-col yellow main p-10 max-[600px]:p-5 max-[600px]:h-[100vh]"
>
    <div
        class="flex flex-col mt-auto w-fit gap-2.5 z-1 max-[600px]:w-full max-[600px]:mt-0"
    >
        <p
            class="max-[600px]:text-[37px] max-[600px]:leading-[40px] text-[60px] leading-[62px] text-[rgb(41,37,36)]"
        >
            Марія <br class="max-[600px]:block hidden" /> Пархоменко
        </p>

        <h1 class="text w-[50vw] max-[600px]:w-full max-[600px]:mb-5">
            лікарка, сертифікована гештальт-терапевтка, ведуча терапевтичних
            груп
        </h1>

        <div class="min-[600px]:hidden">
            <div
                class="text-animate-container cstmButton p-5 bg-[rgba(41,37,36,1)] w-full text-button rounded_small cursor-pointer hover:text-[rgba(41,37,36,1)] text-white transition-all duration-100 ease-in-out text-center"
            >
                ЗАПИСАТИСЯ НА КОНСУЛЬТАЦІЮ
            </div>
        </div>
        <div
            class="transform overflow-hidden rounded-[10px] flex justify-center items-center w-full mt-5 min-[600px]:hidden"
        >
            <!-- <Image src={ProfileImg} alt="profile image" class="h-[70hv]" /> -->
            <div class="mr-auto">
                <img
                    id="imageMainMobile"
                    src="../images/IMG_240.jpg"
                    alt=""
                    class="w-full object-cover rounded-[10px] transition-transform duration-500 ease-out will-change-transform origin-top-left"
                    style="transform: scale(1);"
                />
            </div>
        </div>
    </div>
</div>

<script is:inline>
    window.addEventListener("scroll", () => {
        const image = document.getElementById("imageMainMobile");
        if (!image) return;

        const scrollY = window.scrollY;
        if (scrollY === 0) {
            image.style.transform = "scale(1)";
            return;
        }

        const scale = 0.9;
        image.style.transform = `scale(${scale})`;
    });
</script>
