---
import { Image } from "astro:assets";
import ProfileImg from "../assets/IMG_2406.png";
---

<div class="h-[50vh] w-full flex flex-col relative yellow">
    <div class="flex flex-col mt-auto w-full gap-2.5 m-10 z-12">
        <h1>Марія Пархоменко</h1>
        <p class="text">
            лікарка, сертифікована гештальт-терапевтка, ведуча терапевтичних
            груп
        </p>
    </div>
</div>
<div class="absolute right-5 top-1/2 transform -translate-y-1/2 z-11">
    <!-- <Image src={ProfileImg} alt="profile image" class="h-[70hv]" /> -->
    <img src="../public/images/IMG_2406.png" alt="" class="h-[70vh]" />
</div>
