---
import { Image } from "astro:assets";
import ProfileImg from "../assets/IMG_2406.png";
---

<div class="h-[50vh] w-full flex flex-col relative yellow">
    <div class="flex flex-col mt-auto w-fit gap-2.5 m-10 z-12">
        <h1>Марія Пархоменко</h1>
        <p class="text w-[70vh]">
            лікарка, сертифікована гештальт-терапевтка, ведуча терапевтичних
            груп
        </p>
    </div>
</div>
