---
import Button from "./Button.astro";
---

<div
    class="h-[50vh] w-full sticky top-0 bg-white max-[600px]:bg-[rgba(229,226,141,1)] z-22"
>
    <div
        class="flex flex-col justify-center items-center h-full w-full gap-5 bg-white rounded_top"
    >
        <Button />
        <div class="text text-center max-[600px]:px-5 opacity-50">
            *Консультація можлива українською та російською мовами.
        </div>
    </div>
    <div
        class="line absolute top-0 left-5 right-5 h-[2px] yellow z-10 transform -translate-y-1/2 rounded-full min-[600px]:rounded_top max-[600px]:hidden"
    >
    </div>
</div>
