---
import Button from "./Button.astro";
---

<div class="h-[50vh] w-full sticky top-0 bg-white rounded_top z-30">
    <div class="flex flex-col justify-center items-center h-full w-full gap-5">
        <Button />
        <div class="text">
            *Консультація можлива українською та російською мовами.
        </div>
    </div>

    <footer
        class="h-[50vh] bg-gray-100 rounded_top p-10 flex flex-col justify-between z-30"
    >
        <div class="text_small grid grid-cols-2 gap-20">
            <div>
                Марія Пархоменко <br /> лікарка, гештальт-консультантка, ведуча терапевтичних
                груп. <br /><br />©2025. Усі права захищені.
            </div>
            <div>
                Карта сайту: <br />
                Про мене, Умови, Освіта і підготовка, Групи і майстер-класи, Контакти.
            </div>
        </div>
        <div class="text flex justify-between">
            <div>
                Для зв'язку можете написати мені на [ пошту ] або [ telegram ], <br
                />знайти мене в instagram можна по ніку [ @parhomak ]
            </div>
        </div>
    </footer>
</div>
