<div class="w-full min-h-[50vh] rounded_top sticky z-12 yellow top-0">
    <div class="p-10 flex flex-col gap-10">
        <h1>Мені близькі такі теми:</h1>
        <div class="text w-full grid grid-cols-2 gap-20">
            <div class="flex flex-col w-[50wv]">
                <p>
                    • налагодження зв'язку с собою, своїми бажаннями та
                    потребами;
                </p>
                <br />
                <p>• вимушена міграція, складнощі адаптації в новій країні;</p>
                <br />
                <p>• депресія, тривожність, панічні атаки;</p>
                <br />
                <p>• стосунки (в парі, дружні стосунки);</p>
                <br />
                <p>• вибудовування особистісних кордонів;</p>
            </div>
            <div class="flex flex-col w-[50wv]">
                <p>• складності у відносинах з батьками та теми сепарації;</p>
                <br />
                <p>• жіноча ідентичність, сексуальність, самоцінність;</p>
                <br />
                <p>• гроші, конкуренція, агресія.</p>
            </div>
        </div>
    </div>
</div>
