<div
    id="groups"
    class="h-[100vh] p-10 top-[-140px] sticky z-29 bg-white rounded_top"
>
    <h1 class="slide-in">Групи і майстер-класи</h1>
    <div class="h-[2px] gray my-10"></div>
    <div class="grid grid-cols-3 gap-5">
        <div class="flex flex-col gap-5 gray rounded-[5px] p-5">
            <!-- <div class="h-[300px] bg-black rounded-[5px]"></div> -->
            <h1>Агресія яка заважає</h1>

            <div class="text_small flex justify-between">
                <div>ТЕРАПЕВТИЧНА ГРУПА</div>
                <div class="flex gap-1 items-center">
                    ОНЛАЙН <div
                        class="w-3 h-3 yellow rounded-full animate-pulse"
                    >
                    </div>
                </div>
            </div>
            <div class="h-[2px] bg-white"></div>
            <div class="text_small">
                Проект триває 3 місяці. <br />
                Зустріч: 3 години | 800 грн. | раз на тиждень
            </div>
            <div
                class="cstmButton hover:text-[rgba(41,37,36,1)] cursor-pointer py-5 w-full bg-[rgba(31,31,31,1)] rounded-[5px] text-button text-white text-center"
            >
                ЗАБРОНЮВАТИ МІСЦЕ
            </div>
        </div>
    </div>
</div>
