<div class="w-full h-[100vh] bg-white sticky top-0 z-26">
    <div class="p-10 h-full yellow rounded_top">
        <h1>
            Я постійно оновлюю свої знання, відвідую майстер-класи, інтенсиви,
            конференції й лекції на теми, які мене захоплюють і розширюють мій
            терапевтичний погляд. <br /><br />Працюю під регулярною
            індивідуальною та груповою супервізією. І вже понад 6 років маю
            власний досвід терапії — це важлива частина мого професійного
            етичного ставлення до роботи.
        </h1>
    </div>
</div>
