<div class="w-full h-fit pink z-27 min-[600px]:top-0 sticky">
    <div
        class="p-10 h-full yellow max-[600px]:p-5 max-[600px]:pb-10 max-[600px]:pt-0"
    >
        <h1 class="slide-in">
            Працюю під регулярною індивідуальною та груповою супервізією. І вже
            понад 6 років маю власний досвід терапії — це важлива частина мого
            професійного етичного ставлення до роботи.
        </h1>
    </div>
</div>
