<div class="w-full min-h-[100vh] rounded_top sticky top-0 z-26 bg-white">
    <div class="p-10">
        <h1>
            Я постійно оновлюю свої знання, відвідую майстер-класи, інтенсиви,
            конференції й лекції на теми, які мене захоплюють і розширюють мій
            терапевтичний погляд. <br /><br />Працюю під регулярною
            індивідуальною та груповою супервізією. І вже понад 6 років маю
            власний досвід терапії — це важлива частина мого провесійного
            етичного ставлення до роботи.
        </h1>
    </div>
</div>
