<div class="w-full h-fit pink z-40 sticky">
    <div
        class="px-10 pt-10 pb-5 yellow rounded_top max-[600px]:px-5 max-[600px]:py-10"
    >
        <h1 class="slide-in">
            Я постійно оновлюю свої знання, відвідую майстер-класи, інтенсиви,
            конференції й лекції на теми, які мене захоплюють і розширюють мій
            терапевтичний погляд.
        </h1>
    </div>
</div>
