---
import { server } from '../actions/index';
export const prerender = false;
---

<div
  id="pop-up"
  class="h-[100dvh] w-full fixed min-[600px]:top-0 bg-black/20 z-100 flex min-[600px]:justify-center min-[600px]:items-center max-[600px]:justify-center max-[600px]:pt-20"
  style="visibility: hidden;"
>
  <div class="w-[40vw] h-fit bg-white rounded-2xl shadow text-black max-[600px]:p-5 form-wrapper p-10">
    <!-- @ts-ignore -->
    <form
      id="form_termin"
      class="w-full flex flex-col gap-5"
    >
      <h2 class="form-title">Консультація</h2>
      <h3 class="text_gray form-text">Залиште заявку і я звʼяжуся с вами ближайшим часом!</h3>
      <input name="name" type="text" placeholder="Ваше імʼя" class="text-[15px] p-5 max-[600px]:p-2.5 rounded_small focus:outline-none focus:ring-2 focus:ring-[#E5E28D] bg-gray-100" />
      <input name="phone" type="text" placeholder="Телефон/ WhatsApp/ Telegram " class="text-[15px] p-5 max-[600px]:p-2.5 rounded_small focus:outline-none focus:ring-2 focus:ring-[#E5E28D] bg-gray-100" />
      <!-- <div class="flex gap-5 items-center"> -->
      <div class="text-[15px] text_gray">*Номер телефону, до якого прив'язаний ваш месенджер (або ваш @нік)</div>
      <button id="submit-btn" type="submit" class="
          disabled:bg-gray-400 disabled:cursor-not-allowed disabled:text-gray-200
      text-center text-animate-container cstmButton p-5 bg-[rgba(41,37,36,1)] w-fit max-[600px]:w-full text-button rounded_small cursor-pointer hover:text-[rgba(41,37,36,1)] text-white transition-colors duration-100 ease-in-out">
        Відправити
      </button>
      <span id="form-message" class="text-button w-full"></>
      </span>
    </form>
  </div>
</div>

<script>

    import {actions} from "astro:actions"

    const form = document.getElementById("form_termin") as HTMLFormElement;
    const message = document.getElementById("form-message") as HTMLElement;
    const popup = document.getElementById("pop-up") as HTMLElement;
    const btn = document.getElementById("submit-btn") as HTMLButtonElement;

    popup.addEventListener("click", (event) => {
      if (!form.contains(event.target as Node)) {
        popup.style.visibility = "hidden";
        message.textContent = "";
      }
    });
    async function handleSubmit(event: Event) {
      event.preventDefault();
      if (btn && btn instanceof HTMLButtonElement) {
        btn.disabled = true;
        btn.textContent = "Відправка...";
      }

      const formData = new FormData(form);
      const {data, error} = await actions.sendEmail(formData);

      if (data?.success && message !== undefined){
          btn.textContent = "Відправити";
          btn.disabled = false
          form.reset();
          message.style.color = "green";
          message.textContent = "Заявка успішно надіслана!";
      }
      if (error && message !== undefined){
          btn.textContent = "Відправити";
          btn.disabled = false
          message.style.color = "red";
          message.textContent = "Виникла помилка, спробуйте ще раз!";
      }
    }

    form.addEventListener("submit", handleSubmit);
</script>
