<section
    id="price"
    class="flex w-full min-h-[50vh] text-center sticky top-0 z-20 yellow"
>
    <div
        class="bg-white w-1/2 rounded_top flex flex-col justify-center items-center"
    >
        <div class="text gap-2.5 flex flex-col justify-center items-center">
            <div>
                Тривалість консультації: <br />
                (хвилин)
            </div>
            <div class="price">50</div>
        </div>
    </div>
    <div
        class="bg-white w-1/2 rounded_top flex flex-col justify-center items-center gap-2.5"
    >
        <div class="text gap-2.5 flex flex-col justify-center items-center">
            <div>
                Ціна: <br />
                (євро)
            </div>
            <div class="price">50</div>
        </div>
    </div>
    <div
        class="absolute top-[10px] left-1/2 transform -translate-x-1/2 w-[2px] yellow z-10 rounded-b-full"
        style="bottom: 40px;"
    >
    </div>
</section>
