<div class="w-full h-[50vh] top-0 z-24 gray sticky max-[600px]:h-[50vh]">
    <div class="p-10 rounded_top pink h-full max-[600px]:p-5 max-[600px]:py-10">
        <h1 class="slide-in">Моє навчання <br />в гештальт-підході включає:</h1>
    </div>
</div>
