<div
    id="education"
    class="w-full h-[100vh] rounded_top bg-gray-100 sticky top-0 z-23 text-black/70"
>
    <div class="p-10">
        <h1>
            Я закінчила Харківський національний медичний університет у 2017
            році.
            <br /><br />
            Медична освіта дала мені глибоку базу — розуміння фізіології, анатомії,
            психосоматики, що сьогодні допомагає краще бачити зв'язок між тілом і
            психікою в роботі з клієнтами.
        </h1>
    </div>
</div>
