<div id="education" class="w-full h-fit bg-white z-23">
    <div
        class="px-10 pt-10 pb-5 rounded_top gray h-full max-[600px]:p-5 max-[600px]:py-10 z-23"
    >
        <h1 class="slide-in">
            Я закінчила Харківський національний медичний університет у 2017
            році.
        </h1>
    </div>
</div>
