<div class="w-full h-fit bg-white z-23 min-[600px]:top-0 sticky">
    <div class="p-10 gray h-full max-[600px]:p-5 max-[600px]:pb-10">
        <h1 class="slide-in">
            Медична освіта дала мені глибоку базу — розуміння фізіології,
            анатомії, психосоматики, що сьогодні допомагає краще бачити зв'язок
            між тілом і психікою в роботі з клієнтами.
        </h1>
    </div>
</div>
