<div id="education" class="w-full h-[100vh] bg-white sticky top-0 z-23">
    <div class="p-10 rounded_top gray h-full">
        <h1 class="slide-in">
            Я закінчила Харківський національний медичний університет у 2017
            році.
            <br /><br />
            Медична освіта дала мені глибоку базу — розуміння фізіології, анатомії,
            психосоматики, що сьогодні допомагає краще бачити зв'язок між тілом і
            психікою в роботі з клієнтами.
        </h1>
    </div>
</div>
