<div
    class="h-[100vh] w-full bg-gray-100 grid grid-cols-2 grid-rows-2 rounded_top sticky top-0 z-26 text-black/70"
>
    <div class="flex flex-col justify-center items-center p-10 gap-2.5">
        <div class="price">1800+</div>
        <div class="text text-center">
            (годин) <br />
            індивідуальної терапевтичної практики.
        </div>
    </div>

    <div class="flex flex-col justify-center items-center p-10 gap-2.5">
        <div class="price">6</div>
        <div class="text text-center">
            (років) <br />
            особистої терапії.
        </div>
    </div>

    <div class="flex flex-col justify-center items-center p-10 gap-2.5">
        <div class="price">4</div>
        <div class="text text-center">
            (роки) <br />
            індивідуальної терапевтичної практики.
        </div>
    </div>

    <div class="flex flex-col justify-center items-center p-10 gap-2.5">
        <div class="price">1200+</div>
        <div class="text text-center">
            (годин) <br />
            професійного навчання у гештальт-підході.
        </div>
    </div>

    <div
        class="absolute top-10 left-1/2 transform -translate-x-1/2 w-[2px] bg-white z-10"
        style="bottom: 40px;"
    >
    </div>
    <div
        class="absolute top-1/2 left-10 right-10 h-[2px] bg-white z-10 transform -translate-y-1/2"
    >
    </div>
</div>
