<div class="yellow h-fit w-full z-28 min-[600px]:top-0 sticky">
    <div
        class="h-[100vh] w-full gray grid grid-cols-2 grid-rows-2 rounded_top max-[600px]:grid-cols-1 max-[600px]:h-fit max-[600px]:grid-rows-1"
    >
        <div class="flex flex-col justify-center items-center p-10 gap-5">
            <div class="price">1800+</div>
            <div class="text text-center">
                *годин <br />
                індивідуальної терапевтичної практики.
            </div>
        </div>

        <div class="h-[2px] bg-white min-[600px]:hidden mx-5 line"></div>

        <div class="flex flex-col justify-center items-center p-10 gap-5">
            <div class="price">6</div>
            <div class="text text-center">
                *років <br />
                особистої терапії.
            </div>
        </div>

        <div class="h-[2px] bg-white min-[600px]:hidden mx-5 line"></div>

        <div class="flex flex-col justify-center items-center p-10 gap-5">
            <div class="price">4</div>
            <div class="text text-center">
                *роки <br />
                індивідуальної терапевтичної практики.
            </div>
        </div>

        <div class="h-[2px] bg-white min-[600px]:hidden mx-5 line"></div>

        <div class="flex flex-col justify-center items-center p-10 gap-5">
            <div class="price">1200+</div>
            <div class="text text-center">
                *годин <br />
                професійного навчання у гештальт-підході.
            </div>
        </div>

        <div
            class="absolute top-10 left-1/2 transform -translate-x-1/2 w-[2px] bg-white z-10 max-[600px]:hidden line-vertical"
            style="bottom: 40px;"
        >
        </div>
        <div
            class="absolute top-1/2 left-10 right-10 h-[2px] bg-white z-10 transform -translate-y-1/2 max-[600px]:hidden line"
        >
        </div>
    </div>
</div>
