<section id="about" class="w-full h-fit z-11">
    <div
        class="px-10 pt-10 pb-5 rounded_top gray max-[600px]:px-5 max-[600px]:py-10"
    >
        <h1 class="slide-in">
            — Мені 29, я родом із Криму, тривалий час жила в Харкові, а вже
            понад три роки будую життя в Берліні. Маю досвід життя в еміграції,
            пошуку себе, зміни професійних ролей і нових стартів — раніше
            працювала стоматологом, організовувала фестивалі, вела бізнес.
        </h1>
    </div>
</section>

<script is:inline>
    gsap.registerPlugin(ScrollTrigger);

    window.addEventListener("load", () => {
        const containers = document.querySelectorAll(
            "[data-copy-wrapper], .text-animate-container",
        );

        containers.forEach((container) => {
            let elements = container.hasAttribute("data-copy-wrapper")
                ? Array.from(container.children)
                : [container];

            let splitInstances = [];
            let lines = [];

            elements.forEach((el) => {
                const split = new SplitText(el, {
                    type: "lines",
                    linesClass: "text-anim++",
                    mask: "lines",
                });
                splitInstances.push(split);
                lines.push(...split.lines);

                const computedStyle = window.getComputedStyle(el);
                const textIndent = computedStyle.textIndent;
                if (
                    textIndent &&
                    textIndent === "0px" &&
                    split.lines.length > 0
                ) {
                    split.lines[0].style.paddingLeft = textIndent;
                    el.style.textIndent = "0";
                }
            });

            gsap.set(lines, { y: "100%" });

            gsap.to(lines, {
                y: "0%",
                duration: 0.7,
                stagger: 0.1,
                ease: "power4.out",
                delay: 0.5,
                scrollTrigger: {
                    trigger: container,
                    start: "top 95%",
                    once: true,
                },
            });

            // splitInstances.forEach((split) => split.revert());
        });
    });
</script>
