<section id="about" class="w-full h-fit z-11">
    <div
        class="px-10 pt-10 pb-5 rounded_top gray max-[600px]:px-5 max-[600px]:py-10"
    >
        <h1 class="slide-in">
            — Мені 29, я родом із Криму, тривалий час жила в Харкові, а вже
            понад три роки будую життя в Берліні. Маю досвід життя в еміграції,
            пошуку себе, зміни професійних ролей і нових стартів — раніше
            працювала стоматологом, організовувала фестивалі, вела бізнес.
        </h1>
    </div>
</section>
