<section class="w-full h-fit z-11 min-[600px]:top-0 sticky">
    <div class="p-10 gray max-[600px]:p-5 max-[600px]:pb-10 sticky">
        <h1 class="slide-in">
            Сьогодні я — психотерапевт із медичною освітою, сертифікована в
            гештальт-підході з клінічною спеціалізацією. Працюю з емоційними
            труднощами, кризами, адаптацією в новій реальності, а також з більш
            складними психічними станами (у співпраці з психіатром).
        </h1>
    </div>
</section>
