<section
    id="about"
    class="w-full h-fit rounded_top bg-gray-100 z-11 sticky top-[-60vh] text-black/60"
>
    <div class="p-10">
        <h1>
            — Мені 29, я родом із Криму, тривалий час жила в Харкові, а вже
            понад три роки будую життя в Берліні. Маю досвід життя в еміграції,
            пошуку себе, зміни професійних ролей і нових стартів — раніше
            працювала стоматологом, організовувала фестивалі, вела бізнес.
            <br /><br />
            Сьогодні я — психотерапевт із медичною освітою, сертифікована в гештальт-підході
            з клінічною спеціалізацією. Працюю з емоційними труднощами, кризами,
            адаптацією в новій реальності, а також з більш складними психічними станами
            (у співпраці з психіатром).
        </h1>
    </div>
</section>
