<div class="h-full pink z-30 min-[600px]:top-0 sticky">
    <div
        class="h-fit gray p-10 flex flex-col gap-5 rounded_top princ max-[600px]:px-5 max-[600px]:py-10 s"
    >
        <div class="h-[2px] bg-white line"></div>
        <div class="max-[600px]:grid flex max-[600px]:grid-cols-1">
            <div class="grid grid-cols-2">
                <div class="price max-[600px]:mr-10">1.</div>
                <div class="">
                    <p class="text_md">Безпечний простір — це основа.</p>
                    <p class="text max-[600px]:hidden">
                        Моє завдання як терапевта створити атмосверу, де можна
                        бути собою, говорити про важке, соромне, заплутане й
                        отримати прийняття, а не оцінку.
                    </p>
                </div>
            </div>
            <p class="text min-[600px]:hidden mt-10">
                Моє завдання як терапевта створити атмосверу, де можна бути
                собою, говорити про важке, соромне, заплутане й отримати
                прийняття, а не оцінку.
            </p>
        </div>

        <div class="h-[2px] bg-white line"></div>
        <div class="max-[600px]:grid flex max-[600px]:grid-cols-1">
            <div class="grid grid-cols-2">
                <div class="price max-[600px]:mr-10">2.</div>
                <div class="">
                    <p class="text_md">Індивідуальний підхід.</p>
                    <p class="text max-[600px]:hidden">
                        Завдяки освіті в гештальт-підході я вмію бачити
                        унікальність кожної людини, її ритм, стиль контакту,
                        спосіб бути в стосунках. Я не працюю “по схемі”, для
                        мене важливо підлаштовувати роботу під конкретну людину,
                        її потреби й темп.
                    </p>
                </div>
            </div>
            <p class="text min-[600px]:hidden mt-10">
                Завдяки освіті в гештальт-підході я вмію бачити унікальність
                кожної людини, її ритм, стиль контакту, спосіб бути в стосунках.
                Я не працюю “по схемі”, для мене важливо підлаштовувати роботу
                під конкретну людину, її потреби й темп.
            </p>
        </div>

        <div class="h-[2px] bg-white line"></div>
        <div class="max-[600px]:grid flex max-[600px]:grid-cols-1">
            <div class="grid grid-cols-2">
                <div class="price max-[600px]:mr-10">3.</div>
                <div class="">
                    <p class="text_md">Жива присутність і підтримка.</p>
                    <p class="text max-[600px]:hidden">
                        Я поруч — у діалозі, у відгуку, в процесі. Вірю, що саме
                        через контакт і теплу терапевтичну взаємодію
                        народжуються зміни.
                    </p>
                </div>
            </div>
            <p class="text min-[600px]:hidden mt-10">
                Я поруч — у діалозі, у відгуку, в процесі. Вірю, що саме через
                контакт і теплу терапевтичну взаємодію народжуються зміни.
            </p>
        </div>
    </div>
</div>

<script>
    window.addEventListener("scroll", () => {
        if (window.innerWidth >= 600) {
            const princ = document.querySelector(".princ") as HTMLHtmlElement;
            const rect = princ!.getBoundingClientRect();

            const windowHeight = window.innerHeight;
            const start = windowHeight * 0.8;
            const end = windowHeight * 0.3;

            const progress = (start - rect.top) / (start - end);
            const clamped = Math.min(Math.max(progress, 0), 1);

            princ!.style.transform = `translate3d(0, ${(1 - clamped) * -160}px, 0)`;
        }
    });
</script>
