<div
    class="h-fit bg-gray-100 rounded_top p-10 flex flex-col gap-5 sticky top-0 z-28 text-black/70"
>
    <div class="h-[2px] bg-white"></div>
    <div class="grid grid-cols-2">
        <div class="price">1.</div>
        <div class="text">
            <div class="font-medium">Безпечний простір — це основа.</div>
            Моє завдання як терапевта створити атмосверу, де можна бути собою, говорити
            про важке, соромне, заплутане й отримати прийняття, а не оцінку.
        </div>
    </div>

    <div class="h-[2px] bg-white"></div>
    <div class="grid grid-cols-2">
        <div class="price">2.</div>
        <div class="text">
            <div class="font-medium">Індивідуальний підхід.</div>

            Завдяки освіті в гештальт-підході я вмію бачити унікальність кожної
            людини, її ритм, стиль контакту, спосіб бути в стосунках. Я не
            працюю “по схемі”, для мене важливо підлаштовувати роботу під
            конкретну людину, її потреби й темп.
        </div>
    </div>

    <div class="h-[2px] bg-white"></div>
    <div class="grid grid-cols-2">
        <div class="price">3.</div>
        <div class="text">
            <div class="font-medium">Жива присутність і підтримка.</div>
            Я поруч — у діалозі, у відгуку, в процесі. Вірю, що саме через контакт
            і теплу терапевтичну взаємодію народжуються зміни.
        </div>
    </div>
</div>
