<div class="min-[600px]:hidden">
    <label class="hb-menu">
        <input type="checkbox" />
    </label>

    <aside class="slidebar flex flex-col h-[100vh]">
        <nav class="p-2.5 flex flex-col">
            <div class="flex flex-col justify-between h-[100dvh]">
                <div class="flex flex-col gap-5 overflow-x-hidden">
                    <h1 id="toAboutMobile" class="w-fit">Про мене</h1>
                    <h1 id="toPriceMobile" class="w-fit">Умови</h1>
                    <h1 id="toEducationMobile" class="w-fit">
                        Освіта і підготовка
                    </h1>
                    <h1 id="toGroupsMobile" class="w-fit">
                        Групи і майстер-класи
                    </h1>
                    <h1 id="toContactsMobile" class="w-fit">Контакти</h1>
                </div>

                <div class="flex justify-between mb-10">
                    <h1 class="w-fit">IG</h1>
                    <h1 class="w-fit">TG</h1>
                    <h1 class="w-fit">E-Mail</h1>
                </div>
            </div>
        </nav>
    </aside>
</div>

<script is:inline>
    document.getElementById("toAboutMobile").addEventListener("click", (e) => {
        e.preventDefault();
        document.documentElement.classList.remove("visible");
        history.pushState(null, null, "#about");
        location.reload();
    });

    document.getElementById("toPriceMobile").addEventListener("click", (e) => {
        e.preventDefault();
        document.documentElement.classList.remove("visible");
        history.pushState(null, null, "#price");
        location.reload();
    });

    document
        .getElementById("toEducationMobile")
        .addEventListener("click", (e) => {
            e.preventDefault();
            document.documentElement.classList.remove("visible");
            history.pushState(null, null, "#education");
            location.reload();
        });

    document
        .getElementById("toContactsMobile")
        .addEventListener("click", (e) => {
            e.preventDefault();
            document.documentElement.classList.remove("visible");
            history.pushState(null, null, "#contacts");
            location.reload();
        });

    document.getElementById("toGroupsMobile").addEventListener("click", (e) => {
        e.preventDefault();
        document.documentElement.classList.remove("visible");
        history.pushState(null, null, "#groups");
        location.reload();
    });

    window.addEventListener("DOMContentLoaded", () => {
        const hash = window.location.hash;

        document.documentElement.classList.add("visible");
        if (hash === "#about") {
            const target = document.getElementById("about");
            if (target) {
                target.scrollIntoView({ behavior: "instant", block: "start" });
                history.replaceState(null, null, window.location.pathname);
            }
        }

        if (hash === "#price") {
            const target = document.getElementById("price");
            if (target) {
                target.scrollIntoView({ behavior: "instant", block: "start" });
                history.replaceState(null, null, window.location.pathname);
            }
        }

        if (hash === "#education") {
            const target = document.getElementById("education");
            if (target) {
                target.scrollIntoView({ behavior: "instant", block: "start" });
                history.replaceState(null, null, window.location.pathname);
            }
        }

        if (hash === "#contacts") {
            const target = document.getElementById("contacts");
            if (target) {
                target.scrollIntoView({ behavior: "instant", block: "start" });
                history.replaceState(null, null, window.location.pathname);
            }
        }

        if (hash === "#groups") {
            const target = document.getElementById("groups");
            if (target) {
                target.scrollIntoView({ behavior: "instant", block: "start" });
                history.replaceState(null, null, window.location.pathname);
            }
        }
    });
</script>
