<div class="min-[600px]:hidden">
    <label class="hb-menu">
        <input type="checkbox" />
    </label>

    <aside class="slidebar flex flex-col h-[100vh]">
        <nav class="p-2.5 flex flex-col">
            <div class="flex flex-col justify-between h-[100dvh]">
                <div
                    class="flex flex-col gap-5 overflow-x-hidden max-[600px]:text-[37px] max-[600px]:leading-[40px] text-[rgb(41,37,36)]"
                >
                    <p id="toMainMobile" class="w-fit">Головна</p>
                    <p id="toAboutMobile" class="w-fit">Про мене</p>
                    <p id="toPriceMobile" class="w-fit">Умови</p>
                    <p id="toEducationMobile" class="w-fit">
                        Освіта і підготовка
                    </p>
                    <p id="toGroupsMobile" class="w-fit">
                        Групи і майстер-класи
                    </p>
                    <p id="toContactsMobile" class="w-fit">Контакти</p>
                </div>

                <div class="flex flex-col mb-10 text_small">
                    <div class="">
                        <p class="opacity-50">
                            Марія Пархоменко
                            <br />
                            ©2025. Усі права захищені.
                            <br />
                            <br />
                        </p>
                        <div class="flex justify-between">
                            <a
                                href="https://www.facebook.com/parhomak"
                                class="w-fit text">Facebook</a
                            >
                            <p class="opacity-50 text">|</p>
                            <a
                                href="https://t.me/lindsylohan"
                                class="w-fit text">Telegram</a
                            >
                            <p class="opacity-50 text">|</p>
                            <a
                                href="https://t.me/svidomolife"
                                class="w-fit text">Telegram-канал</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <script is:inline>
            if ("scrollRestoration" in history) {
                history.scrollRestoration = "manual";
            }

            const instantScrollTo = (id) => {
                const target = document.getElementById(id);
                if (!target || !window.lenisInstance) return;
                window.lenisInstance.scrollTo(target, { immediate: true });
                //tut
                lenisInstance.raf(performance.now());
            };

            const scrollToSection = (id) => {
                instantScrollTo(id);
                setTimeout(() => {
                    document.documentElement.classList.add("visible");
                    history.replaceState(null, null, window.location.pathname);
                }, 100);
            };

            const closeBurger = () => {
                const burger = document.querySelector(".hb-menu input");
                if (burger) burger.checked = false;
            };

            const addMenuClickHandler = (buttonId, sectionId) => {
                document
                    .getElementById(buttonId)
                    ?.addEventListener("click", (e) => {
                        e.preventDefault();
                        document.documentElement.classList.remove("visible");
                        closeBurger();
                        scrollToSection(sectionId);
                    });
            };

            addMenuClickHandler("toMainMobile", "main");
            addMenuClickHandler("toAboutMobile", "about");
            addMenuClickHandler("toPriceMobile", "price");
            addMenuClickHandler("toEducationMobile", "education");
            addMenuClickHandler("toGroupsMobile", "groups");
            addMenuClickHandler("toContactsMobile", "contacts");

            window.addEventListener("DOMContentLoaded", () => {
                const hash = window.location.hash;
                if (hash) {
                    const id = hash.substring(1);
                    instantScrollTo(id, 80);
                    history.replaceState(null, null, window.location.pathname);
                }
                document.documentElement.classList.add("visible");
            });
        </script>
    </aside>
</div>
