<div class="min-[600px]:hidden">
    <label class="hb-menu">
        <input type="checkbox" />
    </label>

    <aside class="slidebar flex flex-col h-[100vh]">
        <nav class="p-2.5 flex flex-col">
            <div class="flex flex-col justify-between h-[100dvh]">
                <div class="flex flex-col gap-5 overflow-x-hidden">
                    <h1>Про мене</h1>
                    <h1>Умови</h1>
                    <h1>Освіта і підготовка</h1>
                    <h1>Групи і майстер-класи</h1>
                    <h1>Контакти</h1>
                </div>

                <div class="flex justify-between mb-10">
                    <h1>IG</h1>
                    <h1>TG</h1>
                    <h1>E-Mail</h1>
                </div>
            </div>
        </nav>
    </aside>
</div>
